.container{
    background-color: #FFB52E;
}
.b{
    background-color: #5C5CFF;
    text-decoration: none;
    border-radius: 5px;
    
}
.c{
    background-color: #50C878;
    text-decoration: none;
    border-radius: 5px;
}
#e{background-color:#FF0000;
    text-decoration: none;
    border-radius: 5px;
}